body {
    margin: 0;
    padding: 0;
  
    font-family: "Cuprum", "PT Sans";
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
  }

  .h2 {
    color: #000000;
    font: "Cuprum";
    font-size: 30px;
    line-height: 30px;
  }

  .catalog-list {
    list-style: none;
  }

  .headline2 {
    color: #000000;
    font: "Cuprum";
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
  }

legend {
  text-transform: uppercase;
  font-weight: 700;
  font: "PT Sans";
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}

.filter-option {
  text-transform: uppercase;
  font-weight: 400;
  font: "PT Sans";
  font-size: 17px;
  line-height: 20px;
  color: #000000;  
}

  .old-price {
    color: #999999;
    font: "PT Sans";
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
  }

.catalog-item {
  color: #000000;
  font-weight: 700;
  font: "PT Sans";
  font-size: 18px;
  line-height: 20px;
}

.button-help {
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.checkout-link {
  background-color: #63a63e;
}

.contents li,
.contents a {
  font: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none
}

.breadcrumbs {
  list-style: none;
}

  .down-footer a,
  .up-footer a {
    color: #ffffff;
  }
  
  .products-navigation a {
    color: #e4be7b;
}
  
  a {
    text-decoration: none;
  }

  .main-header {
    font: "Cuprum";
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    background-color: #32425c;
  }

.social-buttons,
.products-navigation,
.chapters-navigation,
.site-navigation,
.user-navigation {
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}


.info a,
.site-navigation a,
.user-navigation a {
  color: #000000;
  font: "Cuprum";
  font-size: 17px;
  line-height: 17px;
}

.site-navigation a:focus,
.user-navigation li:focus,
.site-navigation a:hover,
.user-navigation li:hover {
  background-color: #293449;
}

.user-navigation a:focus,


.site-navigation a:active,
.user-navigation a:active {
  opacity: 0.5;
  background-color: #293449;
}

.user-space {
 background-color: #ffffff;
}

.phone-number {
  font: "Cuprum";
  font-size: 21px;
  line-height: 21px;
  color: #ee3643
}

.head-adress {
  text-align: center;
  color: #32425c;
  font: "Cuprum";
  font-size: 14px;
  line-height: 24px;
}

.user-navigation {
  color: #ffffff;
}

.user-buttons {
  font: "Cuprum";
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  list-style: none;
}

.shop-text {
color: #ee3643;
font: "Cuprum";
font-size: 16px;
line-height: 23px;
font-style: italic;
}

.main-header a,
.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.info {
  font: "Cuprum";
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.deliverycompany-list {
  font: "Cuprum";
  font-size: 18px;
  line-height: 20px;
}

.company-features {
  color: #000000;
}

.up-footer {
  background-color: #32425c;
}

.visually-hidden1 {
  color: #000000;
}

.down-footer {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449
}

.contacts {
color: #000000;
}

.footer-copyright a {
  color: #e4be7b;
}
.button1 {
  color: #ffffff;
  background-color: #ee3643;
  font: inherit;
  list-style: none;
}


.chapters-navigation a:hover,
.chapters-navigation a:focus,
.products-navigation a:hover,
.products-navigation a:focus {
  text-decoration: underline;
}

.chapters-navigation a:active {
  opacity: 0.5;
}

.products-navigation a:active {
  opacity: 0.5;
}

.footer-adress {
  font-size: 18px;
  line-height: 24px;
}

.down-font {
  font-size: 16px;
  line-height: 18px;
}